.b-dialog-tags {
  .b-title {
    border-bottom: 1px solid #dedfe0;

    .p-icon-close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .MuiDialogContent-root {
    padding: 0px;
  }

  .b-content {
    .b-select-tags {
      border-right: 1px solid #dedfe0;

      .p-search-bar {
        display: flex;
        padding: 12px 20px;
        border-bottom: 1px solid #dedfe0;
      }

      .p-select {
        height: 450px;
        overflow-y: auto;
        padding: 12px 20px;
      }
    }

    .b-input-tags {
      .p-input {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .MuiInputBase-root {
          border-radius: 15px;
        }

        .p-button-add-tag {
          height: 30px;
        }

        .p-button-add-tag:disabled {
          opacity: 0.6;
        }
      }

      .p-display-list-tags {
        padding: 15px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        list-style-type: none;
        height: 450px;
        overflow-y: auto;
      }
    }
  }

  .b-actions {
    border-top: 1px solid #dedfe0;
  }
}
