.b-overview-tab {
  padding: 16px 20px 16px 20px;
  border-top: 1px solid #dedfe0;

  .b-overview-item {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #dedfe0;
    font-size: 14px;
  }
}
