.b-overview-tab {
  .b-overview-item {
    padding: 16px 20px 16px 20px;
    border-top: 1px solid #dedfe0;

    .p-current-status {
      border-radius: 5px;
      padding: 20px;
      border: 1px solid #dedfe0;
      font-size: 14px;
    }
  }
}
