.p-title-filter {
  padding: 0px 6px 6px 16px;
  width: 250px;
}

ul {
  padding-right: 0px !important;
}

.b-storage-tab {
  .b-dataset-filter {
    display: flex;
    border-bottom: 1px solid #dedfe0;
    border-top: 1px solid #dedfe0;
    padding: 16px 20px 16px 20px;

    .MuiOutlinedInput-root {
      border-radius: 6px;
      height: 32px;
    }

    .background-gray {
      background-color: #f3f4f6;
    }

    .MuiButton-containedSizeSmall {
      border: 1px solid #dedfe0;
      height: 32px;
    }
  }

  .b-dataset-list {
    height: 550px;
    overflow-y: auto;

    .b-list {
      list-style: none;
      margin: 0px;
      padding: 0px;

      .b-item {
        padding: 10px 20px 10px 20px;
        border-bottom: 1px solid #dedfe0;

        &:hover {
          background-color: #f3f3f3;
        }
      }
    }
  }
}
