.b-dataset-tab {
  border-left: 1px solid #dedfe0;
  border-right: 1px solid #dedfe0;
  border-bottom: 1px solid #dedfe0;

  background-color: rgb(255, 255, 255) !important;
  
  .MuiTab-root { 
    text-transform: none;
    min-width: 120px !important;
  }
  
  .MuiTab-textColorInherit.Mui-selected {
    color: rgb(0, 119, 255);
  }

  .PrivateTabIndicator-colorSecondary-3 {
    background-color: rgb(0, 119, 255);
  }

  .MuiTab-textColorInherit {
    opacity: 1;
  }
  color: black !important;

  .b-tab {
    display: inline-flex;
    justify-content: space-between;

    .p-button-download {
      background-color: rgb(0, 119, 255);
      color: rgb(255, 255, 255);
      border-radius: 15px;
    }
  }
}