.b-dataset-header {
  border: 1px solid #dedfe0;
  height: 200px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: rgb(238, 238, 238);
  background-size: cover;
  box-shadow: inset 0 0 0 1000px #161616ab;

  .p-visibility {
    display: inline-flex;
    align-items: center;
    color: rgb(209, 209, 209);

    .MuiSvgIcon-root {
      font-size: 1rem;
    }

    .MuiTypography-body1 {
      font-size: 0.8rem;
    }
  }

  .p-title {
    height: 60px;
    .MuiTypography-root {
      font-weight: 700;
    }
  }

  .p-owner-dataset {
    margin-top: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .MuiAvatar-square {
      cursor: pointer;
      border-radius: 5px;
    }

    .MuiTypography-root {
      cursor: pointer;
    }

    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
  }

  .b-action {
    display: inline-flex;
    position: absolute;
    z-index: 25;
    right: 20px;
    top: 10px;

    .p-item {
      height: min-content;
      border-radius: 5px;
      border: 1px solid #dedfe0;

      .p-info-item {
        padding: 5px;
        border-right: 1px solid #dedfe0;
      }

      .p-number-item {
        padding: 5px;
      }
    }

    .p-like {
      .MuiIconButton-root {
        padding: 0px;
      }

      .MuiIconButton-label {
        color: rgb(236, 236, 236);
      }

      .MuiSvgIcon-colorPrimary {
        color: rgb(0, 119, 255);
      }
    }
  }
}
