.b-recommend-post {
  align-items: center;
  display: flex;

  .p-thumbnail {
    height: 100px;
    width: 50%;
  }

  .b-info {
    .p-title {
      width: 160px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
