.b-recommend-post {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .p-thumbnail {
    height: 100px;
  }

  .b-info {
    .p-title {
      width: auto;
      width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
