.t-app-bar {
  background-color: #1976d2 !important;

  .b-tool-bar {
    display: inline-flex;
    justify-content: space-between;
    overflow: hidden;

    .p-header-search {
      width: 70%;
      align-items: center;

      .p-search-field {
        background-color: rgb(226, 226, 226);
        width: 50%;
        border-radius: 15px;
      }
    }

    .MuiIconButton-root {
      padding: 0px;
    }

    .p-redirect-page {
      font-weight: 600;
    }

    .MuiLink-underlineHover:hover {
      color: rgb(128, 128, 128);
      text-decoration: none;
    }
  }
}
