.p-button-span {
  padding: 0px 0px 0px 0px !important;
  cursor: pointer;
  font-size: 0.9rem;
  background: none;
  border: none !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.p-button-span:focus {
  outline: none;
}

.p-button-span:disabled {
  opacity: 0.4;
  cursor: default;
}
