.p-icon-text {
  display: inline-flex;
  align-items: center;
}

.-cursor-pointer {
  cursor: pointer;
}

.-bottom-line {
  border-bottom: 1px solid #dedfe0 !important;
}

.-top-line {
  border-top: 1px solid #dedfe0 !important;
}

.-right-line {
  border-right: 1px solid #dedfe0 !important;
}

.-left-line {
  border-left: 1px solid #dedfe0 !important;
}

.-italic-style {
  font-style: italic;
}
