.h-d_flex {
  display: flex;
}

.h-d_block {
  display: block;
}

.h-d_inline-block {
  display: inline-block;
}

.-justify-center {
  justify-content: center;
}

.-justify-space-between {
  justify-content: space-between;
}

.-justify-flex-end {
  justify-content: flex-end;
}

.-align-center {
  align-items: center;
}
