.b-info-dataset {
  align-items: center;
  display: flex;
  justify-content: space-between;
  
  .b-info {
    display: flex;
    .p-avatar {
      cursor: pointer;
      border-radius: 10px;
      width: 64px;
      height: 64px;
    }

    .p-info-text {
      .p-title {
        cursor: pointer;
      }

      .p-inline-info {
        display: flex;

        .p-color-content {
          color: rgb(65, 65, 65);
        }
      }
    }
  }
}
