.t-dataset-search {
  padding: 0px 100px 0px 100px;

  .b-dataset-list {
    .p-title {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
    }

    .b-list {
      list-style: none;
      margin: 0px;
      padding: 0px;

      .b-item {
        padding: 20px;
        border-bottom: 1px solid #dedfe0;

        &:hover {
          background-color: #f3f3f3;
        }
      }
    }
  }
}
