.t-card-post {
  position: relative;
  margin-top: 50px;
  width: auto;
  height: auto;
  background-color: rgb(253, 253, 253);

  .MuiIconButton-root {
    padding: 0px !important;
  }
  .p-label-bold {
    font-weight: 550;
  }

  .p-label-view-comment {
    font-style: italic;
    color: rgb(99, 99, 99);
  }

  .p-content {
    color: rgb(83, 83, 83);
    word-wrap: break-word;;
  }

  .p-sub-title {
    color: rgb(161, 161, 161);
    font-size: 0.8rem;
  }

  .b-comment-box {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(189, 189, 189);
    display: inline-flex;

    .p-input-comment {
      background-color: rgb(253, 253, 253);
      height: 30px;
      font-size: 1rem;
      border: none !important;
      margin-left: 30px;
      width: 90%;
    }

    .p-input-comment:focus {
      outline: none;
    }

    .p-btn-post {
      color: rgb(0, 110, 255);
    }
  }
}
